


<ion-view id="menu">

	<ion-nav-bar class="bar bar-header icon-left" ng-controller="SettingsCtrl">
     <!--  <ion-nav-back-button> uncomment for back button!!!
     </ion-nav-back-button> -->

      <ion-nav-buttons>
        <button class="button button-icon button-clear ion-navicon" ng-click="flyOut();">
        </button>
      </ion-nav-buttons>
       <div class="logo-setting-head">
            <h1 class="title"><a ng-href="#/"><img class="logo" src="img/logo.png" alt=""></a></h1>
             <i class="button button-clear ion-gear-b" ng-click="openModal()"></i>
        </div>
</ion-nav-bar>

  <ion-content>
	<ion-nav-view name="menuContent"></ion-nav-view>
  </ion-content>


  <div class="flyout" ng-controller="SettingsCtrl">
  	<header class="bar bar-header">

  			<div class="button button-icon sort" ng-click="sortMenu();"><i class="{{sortIcon}}"></i></div>
  			<div class="text-center title">title</div>
  			<button class="button button-icon flyback" ng-click="flyBack();"><i class="ion-ios-arrow-left"></i></button>

  	</header>
  	<div class="banner">
  		<img src="../img/custom-images/carImg1_02.jpg" alt="">
  	</div>
  	<ul class="row menuList menu1 active">
  		<li class="col col-50 text-center" ng-repeat="info in data.data.data.pages" ng-click="flyBack();">
  			<a ui-sref="app.{{info.title}}">
  				<i class="{{info.iconOn}}"></i>
  				<p>{{info.title}}</p>
  			</a>
  		</li>
  	</ul>
  	<ul class="menuList menu2 list">
  		<li class="item item-icon-left" ng-repeat="info in data.data.data.pages" ng-click="flyBack();">
  			<a ui-sref="app.{{info.title}}">
  				<i class="icon {{info.iconOn}}"></i>
  				<p>{{info.title}}</p>
  			</a>
  		</li>
  	</ul>
  </div>
</ion-view>

